

    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li>
              <a href="/create"><span class="glyphicon glyphicon-user"></span> create</a>
            </li>
            <li>
                <a href="/create"><span class="glyphicon glyphicon-user"></span> archive</a>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right">
                    <button type="submit" class="btn btn-outline-secondary btn-lg" formaction="/top">Sign Up</button>
                    <button type="submit" class="btn btn-outline-secondary btn-lg" formaction="/bottom">Login</button>
            </li>
          </ul>
        </div>
      </nav>